regex==2021.4.4
selenium==4.0.0a1
pandas==1.1.5
tqdm==4.51.0
pytest==6.0.2
requests_toolbelt==0.9.1
pathvalidate==2.4.1
tabula==1.0.5
dataclass_builder==1.2.0
enforce_typing==1.0.0.post1
requests==2.25.1
absl==0.0
beautifulsoup4==4.9.3
dataclasses==0.8
doltpy==2.0.7
python_dateutil==2.8.1
table_ocr==0.2.5
