dataclass_builder==1.2.0
requests==2.25.1
pandas==1.1.5
selenium==4.0.0a1
pytest==6.0.2
regex==2021.4.4
requests_toolbelt==0.9.1
tabula==1.0.5
pathvalidate==2.4.1
enforce_typing==1.0.0.post1
tqdm==4.51.0
absl==0.0
beautifulsoup4==4.9.3
dataclasses==0.8
doltpy==2.0.7
python_dateutil==2.8.1
table_ocr==0.2.5
Scrapy==2.5.0
